.curved-loop-jacket {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.curved-loop-svg {
  width: 100%;
  user-select: none;
  overflow: visible;
  display: block;
  font-size: 5rem;
  font-weight: 700;
  fill: rgb(255, 255, 255);
  /* text-transform: uppercase; */
}
