/* @import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap"); */
@import 'tailwindcss';
/* @plugin 'lightswind/plugin'; */
@plugin "tailwindcss/plugin";
html, body {
  overflow-x: hidden;
  font-family: sans-serif;
  scroll-behavior: smooth;
  background: #0a0a0a;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}


body {
  /* cursor: none; */
}

button,
a,
input,
textarea,
select,
[role="button"],
.cursor-pointer {
  cursor: pointer;
}
